*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position:sticky;
    top: 0px;
    background: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    padding: 16px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.navbar span{
    color: red;
    font-weight: 600;
}
ul{
    display: flex;
    align-items: center;
}
li{
    list-style:none;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 18px;
    color: rgb(14, 14, 58);
    font-family:sans-serif;
}
.navbar h1{
    color: #1f1f1f;
    font-size: 22px;
    font-family: "poppins" serif;
    font-weight: 700;
    font-family: sans-serif;
}

.search-bar{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content:space-around;
}
.search-bar input{
  border-radius: 8px;
  border: 1px solid rgb(161, 161, 161);
  width: 220px;
  padding: 8px 5px;
  padding-left: 35px;

}

.search{
    position: relative;
    display:flex;
}

.search label span{
   position: absolute;
   top: 5px;
   left: 5px;
   align-items: center;
   width: 24px;
   height: 24px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.btn button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    color: white;
    background: #150861
}

.second-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.about{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap: 12px;
    flex: 1;
}
.heading1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    padding: 16px;
    flex: 1;
    gap: 4px;
}
.about-image{
    flex: 1;
}

.joinUs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2;
    padding: 5px 10px;
    border: 1px dashed black;
    border-radius: 18px;
    margin-bottom: 10px;
}
.round{
    width: 12px;
    height: 12px;
    background: #10b0a7;
    border-radius: 50%;
    margin-right: 10px;

}
.round span{
    font-size: 14px;
    color: #171717
}
.heading2{
    font-size: clamp(2.2rem, 5vw, 4.5rem);
    color: #001959;
}

.paragraph1{
    font-size: 16px;
    color: #40667f;
}

.btn-2{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 20px;
   font-family:sans-serif;
}
.btn-2 button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    font-family:sans-serif;
}
.learn-btn{
    background: white;
    padding: 24px;
}
.explore-btn{
    background: rgb(0,25,89);
    color: white;
    padding: 12px 16px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    
}
.learn-btn a{
    color: #150861;
}
.learn-btn:hover{
    background: rgb(245, 243, 243);
}


.course-offers{
    display: flex;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;
    padding: 16px;
} 

.course-offers-1st-div{
    width: 100%;
    padding: 32px 0px;
    background: #002760;
    border-radius: 0.5rem;
    border-top-right-radius: 140px;
    color: white;
    font-size: 16px; 
}

.main-div{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:16px;
}

.main-div-child{
    display:flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
    padding: 0px 32px;
}

.icons{
    margin: -16px 0px 0px;
    padding: 10px;
    width: 44px;
    height: 44px;
    background: #babaffb2;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.icons span{
    width: 24px;
    height: 24px;
}

.info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.number-info{
    font-size: 36px;
    color: #e5e5e5;
    font-weight: 600;
}

.text-info{
    font-size: 16px;
    color: #e5e5e5b3;
}

.main-div-child-1, .main-div-child-2{
     display:flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
    padding: 0px 32px;
    position: relative;
}

/*.main-div-child-1::after, .main-div-child-2::after{
    content: '';
    width: 2px;
    height: 60px;
    display: block;
    background: white;
    position: absolute;
    right: -80px;
}*/

.horizontal-line{
    display:flex;
    flex:column;
    justify-content:center;
    align-items:center;
    width: 2px;
    height: 80px;
    background:white;
    position: absolute;
    right: -50px;
}

.course-offers-2nd-div{
    display: flex;
    width: 100%;
    gap: 6px;
    flex: 2;
    padding: 32px 0px;
    height:auto;
}

.course-offers-2nd-div-1st-child{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:stretch;
    gap: 6px;
    padding: 20px;
    background: #00ab93;
     border-radius: 0.5rem;
    border-bottom-left-radius: 44px;
    border-top-right-radius: 44px;
    width: 100%;
    height: 100%;
    flex:1.5;
    position: relative;
    margin-right:10px;

}

.course-offers-2nd-div-2nd-child{
        display: flex;
        flex: 1;
        height:100%;
        width: 100%;
        background: #002760;
         border-radius: 0.5rem;
        border-bottom-left-radius: 44px;
        border-top-right-radius: 44px;
        margin-left:10px;
}

.child-1{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-bottom:15px;
    gap: 6px;
}

.child-1 h3{
     font-size: clamp(1rem, 5vw, 36px);
     line-height: 1.1;
     color:white;
     margin-bottom: 10px;
}

.paragraph2{
    font-size: clamp(0.729vw ,14px, 0,938vw);
    color: white;
    letter-spacing: 0.45px;
}

.hero-img{
    max-width: 100%;
    height:auto;
}

.child-2{
    display: flex;
    flex-wrap:wrap;
    gap: 6px;
    margin-top:10px;
}

.info-2{
    padding-block:4px;
    padding-inline: 16px;
    background:white;
    color: #00ab93;
    border-radius: 3.40282e38px;

}
h4{
    font-size: clamp(14px, 3vw, 16px);
    padding: 6px;
}

.testingDiv{
    display:flex;
    flex-direction:column;
    margin-left: 20px;
}

.second-div-child{
    display:flex;
    flex-direction:column;
    gap:4px;
    justify-content:center;
    padding: 30px;
}

.second-div-child h3{
    font-size: 36px;
    color: white;
    margin-block-start: 10px;
    margin-block-end:10px;
    line-height: 1.111;
    
}
.second-div-child p{
    font-size: 18px;
    color:white;
}

/*=======Responsive design===========*/

@media screen and (max-width: 768px) {
  .about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}
 .heading1, .heading2, .paragraph1{
    text-align:center;
    justify-content:center;
    align-items:center;
 }

 .course-offers{
    display:flex;
    flex-direction:column;
 }
  .main-div{
    flex-direction:column;
    gap:24px;
    justify-content: center;
    align-items:center;
  }
  .main-div-child-1, .main-div-child-2, .main-div-child{
      display:flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom:10px;
      width: 100%;
      height: auto;
  }

   .course-offers-2nd-div{
    display:flex;
    flex-direction:column;
    width:100%;
    height:100vh;
   }

   .course-offers-2nd-div-1st-child{
      display:flex;
      flex-direction:row;
      gap: 24px;
      flex-wrap:wrap;
  }

   .child-1{
    display:flex;
    justify-content:center;

   }
   .horizontal-line{
    display:flex;
    width:100%;
    height:2px;
    flex-direction: row;
    position: absolute;
    bottom: -20px;
    right: 10px;
    align-items: center;
    justify-content: center;
   }

}

@media screen and (max-width: 825px) {
     .child-1{
        display:flex;
     }
}